.map_parent {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 180px;
    box-sizing: border-box;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

    .map-container .loader-screen {
        position: absolute;
    }

#__map {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#addr_map_marker {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: url(../static/loc_1.png) 50% 50% no-repeat;
    background-size: 100%;
    margin-top: -60px;
    margin-left: -25px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#addr_map_marker_circle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    background: url(../static/loc_2.png) 50% 50% no-repeat;
    background-size: 100%;
    margin-top: -60px;
    margin-left: -25px;
    -webkit-transition: all 0.2s 0s cubic-bezier(0.175, 0.885, 0.320, 1);
    -moz-transition: all 0.2s 0s cubic-bezier(0.175, 0.885, 0.320, 1);
    -o-transition: all 0.2s 0s cubic-bezier(0.175, 0.885, 0.320, 1);
    transition: all 0.2s 0s cubic-bezier(0.175, 0.885, 0.320, 1);
}
._gmaps_inited #addr_map_marker,
._gmaps_inited #addr_map_marker_circle {
    display: block;
}


._gmaps_drag #addr_map_marker {
    opacity: 0.7;
    width: 60px;
    height: 60px;
    margin-top: -80px;
    margin-left: -30px;
}

._gmaps_drag #addr_map_marker_circle {
    opacity: 0.2;
    width: 100px;
    height: 100px;
    margin-top: -90px;
    margin-left: -50px;
}

.map-container._sheet_open #addr_map_marker_circle,
.map-container._sheet_open #addr_map_marker {
    opacity: 0;
}


._gmaps_inited .framework7-root .page-previous {
    display: none !important;
}

._gmaps_inited {
    background-color: rgba(0,0,0,0) !important;
}


@-webkit-keyframes bounce {
    from, 20%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -10px, 0) scaleY(1);
        transform: translate3d(0, -10px, 0) scaleY(1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -5px, 0) scaleY(1.05);
        transform: translate3d(0, -5px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }
}

@keyframes bounceMarker {
    from, 20%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -10px, 0) scaleY(1);
        transform: translate3d(0, -10px, 0) scaleY(1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -5px, 0) scaleY(1.05);
        transform: translate3d(0, -5px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }
}

.bounceMarker {
    -webkit-animation-name: bounceMarker;
    animation-name: bounceMarker;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
